table {border: 1px solid black;}
th {color: black; background-color: #d2f9fa; border: 1px #253030;}
td {color: grey; background-color: #d2f9fa; border: 1px #253030;}
h3 {color: #031b1c; font-family: verdana; background-color: #c1e2e3;}
