table {border: 1px solid black;}
th {color: black; background-color: #d2f9fa; border: 1px darkgrey;}
td {color: grey; background-color: #d2f9fa; border: 1px darkgrey;}
h3 {color: #031b1c; font-family: verdana;}
